<div>
  <h3>Ngx-datatable</h3>
  <div style="float:left;width:75%">
      <ngx-datatable
      #mydatatable
      class="material"
      [headerHeight]="50"
      [limit]="5"
      [columnMode]="'force'"
      [footerHeight]="50"
      [rowHeight]="'auto'"
      [rows]="rows"
      [selected]="selected"
      [selectionType]="'checkbox'"
      (select)='onSelect($event)'
      >
      <ngx-datatable-column
            [width]="30"
            [sortable]="false"
            [canAutoResize]="false"
            [draggable]="false"
            [resizeable]="false"
            [headerCheckboxable]="true"
            [checkboxable]="true">
          </ngx-datatable-column>
      <ngx-datatable-column name="Name">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <span
            title="Double click to edit"
            (dblclick)="editing[row.id + '-name'] = true"
            *ngIf="!editing[row.id + '-name']">
            {{value}}
          </span>
          <input
            autofocus
            (blur)="updateValue($event, 'name', rowIndex)"
            *ngIf="editing[row.id+ '-name']"
            type="text"
            [value]="value"
          />
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Gender">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
            <span
            title="Double click to edit"
            (dblclick)="editing[row.id + '-gender'] = true"
            *ngIf="!editing[row.id + '-gender']">
            {{value}}
          </span>
          <input
            autofocus
            (blur)="updateValue($event, 'gender', rowIndex)"
            *ngIf="editing[row.id+ '-gender']"
            type="text"
            [value]="value"
          />
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Company">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span
            title="Double click to edit"
            (dblclick)="editing[row.id + '-company'] = true"
            *ngIf="!editing[row.id + '-company']">
            {{value}}
          </span>
          <input
            autofocus
            (blur)="updateValue($event, 'company', rowIndex)"
            *ngIf="editing[row.id+ '-company']"
            type="text"
            [value]="value"
          />
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
  <div class="selected-column">
    <button class="btn btn-primary" *ngIf="selected.length" (click)="saveRecord()">save</button>
    <h4>
      Selections <small>({{ selected?.length }})</small>
    </h4>
    <ul>
      <li *ngFor="let sel of selected">
        {{ sel.name }}
      </li>
      <li *ngIf="!selected?.length">No Selections</li>
    </ul>
  </div>
</div>

<router-outlet></router-outlet>
