/* You can add global styles to this file, and also import other style files */
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

.datatable-header-cell,
.datatable-body-cell {
    border: 1px solid rgba(0, 0, 0, 0.12);
}
.datatable-header-cell-template-wrap span {
    font-weight: bolder;
    color: #000;
    font-size: 15px;
}
.datatable-row-even {
    background: rgba(0, 0, 0, 0.12);
}